
$page-width: 2000px
$page-height: 1000px
$text-color: #e8f406

@font-face
	font-family: Meanwhile
	src: url(../fonts/Meanwhile.ttf)

@font-face	
	font-family: Calibri Light
	src: url(../fonts/CalibriLight.ttf)


@mixin transition($val)
	-ms-transition: all $val
	-webkit-transition: all $val
	-moz-transition: all $val
	-o-transition: all $val
	transition: all $val

@mixin transform($val)
	-ms-transform: rotate($val)
	-webkit-transform: rotate($val)
	-moz-transform: rotate($val)
	-o-transform: rotate($val)
	transform: rotate($val)

@mixin box-shadow($width, $height, $color)
	box-shadow: 0px 0px $width $height $color
	-moz-box-shadow: 0px 0px $width $height $color
	-o-box-shadow: 0px 0px $width $height $color
	-webkit-box-shadow: 0px 0px $width $height $color
	-ms-box-shadow: 0px 0px $width $height $color
	
@mixin text-shadow($radius, $color)
	text-shadow: 0 0 $radius $color

@mixin pos-and-size($left, $top, $width, $height)
	left: $left / 2000px * 100%
	top: $top / 1000px * 100%
	width: $width / 2000px * 100%
	height: $height / 1000px * 100%
	
@mixin size($width, $height)
	width: $width / 2000px * 100%
	height: $height / 1000px * 100%
	
@mixin pos($left, $top)
	left: $left / 2000px * 100%
	top: $top / 1000px * 100%

@mixin pos-and-size-2($left, $top, $width, $height)
	left: $left
	top: $top
	width: $width
	height: $height
	
@mixin bg($file)
	background-image: url(../pics/#{$file})
	
@function calc-percent($target, $container)
	@return $target/$container * 100%

@for $i from 1 through 20
	.z-#{$i}
		z-index: #{$i}
		
.black-skin
	width: 100%
	height: 100%
	position: absolute
	background-color: black
	opacity: 0.7
	z-index: 10

.next-button, .start-button, .correct, .keep-thinking, .result
	border-radius: 50%
	z-index: 11
	width: 20%
	height: 40%
	position: absolute
	left: 40%
	top: 30%
	background-color: white
	color: black
	font-size: 3vmax
	text-align: center
	padding-top: 8.5%

.next-button:hover, .start-button:hover, .result:hover
	color: white
	background-color: black

.absolute-max
	position: absolute
	left: 0%
	top: 0%
	width: 100%
	height: 100%
	background-size: auto 100%
	background-repeat: no-repeat

.absolute
	position: absolute
	background-size: auto 100%
	background-repeat: no-repeat

.transition-2s
	-ms-transition: all 2s
	-webkit-transition: all 2s
	-moz-transition: all 2s
	-o-transition: all 2s
	transition: all 2s

.border-box
	box-sizing: border-box
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	-o-box-sizing: border-box
	-ms-box-sizing: border-box

*
	@extend .border-box
	font-family: Verdana

.blink-shadow
	@include box-shadow(10px, 10px, white)
	
/*GLOBAL AND MENU*/

body
	position: absolute
	margin: 0%
	width: 100%
	height: 100%
	min-width: 100%
	min-height: 100%
	max-width: 100%
	max-height: 100%
	font-size: 50px

#main
	@extend .absolute-max

.frame
	@extend .absolute-max
	background-size: 100% 100%
	overflow: hidden

/*FRAM 000 (TITLE PAGE)*/

#frame-000
	background-image: url(../pics/s0-bg.png)

#frame-000 .button
	@extend .absolute
	cursor: pointer
	background-size: 100% 100%
	
#frame-000 .treasures
	@include pos-and-size-2(15.2%, 18%, 23%, 58%)
	background-image: url(../pics/s0-treasures-no-light.png)
	background-size: 100% 100%

#frame-000 .treasures:hover
	background-image: url(../pics/s0-treasures-light.png)
	text-shadow: 0px 0px 3px white, 0px 0px 3px white, 0px 0px 3px white
	
#frame-000 .game
	@include pos-and-size-2(42%, 18%, 18.4%, 50%)
	background-image: url(../pics/s0-game-no-light.png)
	
#frame-000 .game:hover
	background-image: url(../pics/s0-game-light.png)
	text-shadow: 0px 0px 3px white, 0px 0px 3px white, 0px 0px 3px white
	
#frame-000 .sources
	@include pos-and-size-2(63.3%, 18%, 18.4%, 50%)
	background-image: url(../pics/s0-sources-no-light.png)
	
#frame-000 .sources:hover
	background-image: url(../pics/s0-sources-light.png)
	text-shadow: 0px 0px 3px white, 0px 0px 3px white, 0px 0px 3px white
	
#frame-000 .label
	@extend .absolute
	@include pos-and-size-2(0, 100%, 100%, 20%)
	font-size: 40%
	font-weight: bold
	color: black
	text-align: center
	
/*ANNOTATION*/
#frame-000 .annotation-hidden
	@extend .absolute
	z-index: 20
	@include pos-and-size-2(-120%, 0%, 100%, 100%)
	background-color: white
	color: black
	@include transition(2s)
	padding: 3em 7em
	font-size: 35%
	font-family: Calibri Light
	text-align: left

#frame-000 .annotation-hidden ul li
	font-family: Calibri Light
	font-size: 75%

#frame-000 .annotation-hidden .footer 
	font-family: Calibri Light
	font-style: italic
	font-size: 100%

#frame-000 .annotation-hidden .header 
	font-family: Calibri
	font-style: bold
	font-size: 120%
	display: block
	min-width: 100%
	text-align: center

#frame-000 .annotation-shown
	@include pos-and-size-2(0%, 0%, 100%, 100%)

#frame-000 .annotation-button
	@extend .absolute
	z-index: 23
	@include pos-and-size-2(5%, 85%, 5%, 5%)
	font-size: 30%
	color: white
	cursor: pointer
	text-align: center

#frame-000 .annotation-button-close
	color: gray

#frame-000 .annotation-button:hover
	color: blue
	

#frame-000 .copyright
	@extend .absolute
	z-index: 23
	left: 77%
	top: 96%
	width: 23%
	height: 5%
	font-size: 15%
	color: #000

/*FRAME 101*/

#frame-101 .bg
	@extend .absolute-max
	background-image: url(../pics/s1-bg.png)
	
#frame-101 .flags
	@extend .absolute-max
	background-image: url(../pics/s1-flags.png)

#frame-101 .flags-highlighted
	@extend .absolute-max
	background-image: url(../pics/s1-flags-highlighted.png)
	
/*FRAME 102*/

#frame-102 .bg
	@extend .absolute-max
	background-image: url(../pics/s1-bg.png)
	
#frame-102 .aktobe-flag
	@extend .absolute-max
	background-image: url(../pics/s2-aktobe-flag.png)
	
#frame-102 .aktobe-highlighted
	@extend .absolute-max
	background-image: url(../pics/s2-aktobe-highlighted.png)
	
#frame-102 .aktobe-highlighted .label
	@extend .absolute
	@include pos-and-size(497px, 307px, 244px, 91px)
	font-size: 30%
	text-align: center
	padding-top: 3em
	
#frame-102 .aktobe-helicopter
	@extend .absolute-max
	background-image: url(../pics/s2-aktobe-helicopter.png)
	
#frame-102 .helicopter
	@extend .absolute
	@include pos-and-size(983px, 158px, 434px, 124px)
	background-image: url(../pics/s2-helicopter.gif)
	
/*FRAME 103*/

#frame-103 .bg
	@extend .absolute-max
	background-image: url(../pics/s1-bg.png)
	
#frame-103 .aktobe-flag
	@extend .absolute-max
	background-image: url(../pics/s2-aktobe-flag.png)
	
#frame-103 .aktobe-highlighted
	@extend .absolute-max
	background-image: url(../pics/s2-aktobe-highlighted.png)
	
#frame-103 .aktobe-highlighted .label
	@extend .absolute
	@include pos-and-size(497px, 307px, 244px, 91px)
	font-size: 30%
	text-align: center
	padding-top: 3em
	
#frame-103 .aktobe-helicopter
	@extend .absolute-max
	background-image: url(../pics/s2-aktobe-helicopter.png)
	
#frame-103 .helicopter
	@extend .absolute
	@include pos-and-size(983px, 158px, 434px, 124px)
	background-image: url(../pics/s2-helicopter.gif)
	
#frame-102 .vocabulary 
	@extend .absolute-max
	@include transition(4s)
	
#frame-102 .isotope
	background-image: url(../pics/s3-isotope.png)
	
#frame-102 .atomic-mass
	background-image: url(../pics/s3-atomic-mass.png)
	
#frame-102 .molar-mass
	background-image: url(../pics/s3-molar-mass.png)
	
#frame-102 .ammonia
	background-image: url(../pics/s3-ammonia.png)
	
#frame-102 .glass
	background-image: url(../pics/s3-glass.png)
	
#frame-102 .out-of-view
	left: -100%
	
/*FRAME 104*/

#frame-104 .bg
	@extend .absolute-max
	background-image: url(../pics/s4-bg.png)

#frame-104 .task
	@extend .absolute
	@include pos-and-size(152px, 71px, 1642px, 151px)
	border: 3px solid #fae806
	background-color: white
	font-size: 30%
	font-weight: bold
	text-align: center
	padding: 1em
	
#frame-104 .table
	@extend .absolute
	@include pos-and-size(575px, 263px, 850px, 600px)

#frame-104 .table .row
	height: 20%
	width: 100%
	
#frame-104 .table .row-1
	height: 28%
	width: 100%

#frame-104 .table .data
	height: 100%
	width: 25%
	border: 3px solid #0161a6
	padding: 0.5em
	font-size: 25%
	text-align: center
	float: left
	background-color: white
	
#frame-104 .table .data.bold
	font-weight: bold

#frame-104 .table .data input
	display: block
	border: none
	width: 100%
	height: 100%
	text-align: center
	font-weight: bold
	
#frame-104 .check-button
	@extend .absolute
	@include pos-and-size(1577px, 760px, 289px, 100px)
	background-color: #FF0100
	border: 2px solid #0090BB
	color: white
	font-size: 25%
	padding: 1.5em
	text-align: center
	cursor: pointer
	font-weight: bold
	
#frame-104 .check-button:hover
	background-color: #0090BB
	border: 2px solid #FF0100
	
#frame-104 .bulb
	@extend .absolute
	@include pos-and-size(1787px, 763px, 190px, 190px)
	background-image: url(../pics/s4-bulb.png)
	cursor: pointer

#frame-104 .bulb:hover
	background-image: url(../pics/s4-bulb-hover.png)
	
#frame-104 .mendeleev-table
	@extend .absolute-max
	@include transition(1s)
	background-image: url(../pics/s6-mendeleev-table.png)
	background-color: black
	
#frame-104 .cr-highlighted
	@extend .absolute-max
	background-image: url(../pics/s6-cr-highlighted.png)
	
#frame-104 .mendeleev-table-hidden
	@include pos-and-size(0px, 0px, 0px, 0px)
	
	
/*FRAME 105*/

#frame-105 .bg
	@extend .absolute-max
	background-image: url(../pics/s4-bg.png)
	
#frame-105 .text
	@extend .absolute
	@include pos-and-size(272px, 83px, 1045px, 350px)
	background-color: white
	font-size: 24%
	font-weight: bold
	border: 3px solid #fae800
	padding: 1em
	
#frame-105 .blazon
	@extend .absolute
	@include pos-and-size(1800px, 44px, 172px, 172px)
	background-image: url(../pics/s5-blazon.png)
	
#frame-105 .submarine
	@extend .absolute
	@include pos-and-size(836px, 360px, 577px, 430px)
	background-image: url(../pics/s5-submarine.png)

/*FRAME 106*/

#frame-106 .bg
	@extend .absolute-max
	background-image: url(../pics/s4-bg.png)
	
#frame-106 .blazon
	@extend .absolute
	@include pos-and-size(1800px, 44px, 172px, 172px)
	background-image: url(../pics/s5-blazon.png)
	
#frame-106 .bulb
	@extend .absolute
	@include pos-and-size(1787px, 763px, 190px, 190px)
	background-image: url(../pics/s4-bulb.png)
	cursor: pointer

#frame-106 .bulb:hover
	background-image: url(../pics/s4-bulb-hover.png)
	
#frame-106 .mendeleev-table
	@extend .absolute-max
	@include transition(1s)
	background-image: url(../pics/s6-mendeleev-table.png)
	background-color: black
	
#frame-106 .cr-highlighted
	@extend .absolute-max
	background-image: url(../pics/s6-cr-highlighted.png)
	
#frame-106 .mendeleev-table-hidden
	@include pos-and-size(0px, 0px, 0px, 0px)
	
#frame-106 .table
	@extend .absolute
	@include pos-and-size(575px, 300px, 850px, 600px)

#frame-106 .table .row
	height: 20%
	width: 100%

#frame-106 .table .row-1
	height: 28%
	width: 100%

#frame-106 .table .data
	height: 100%
	width: 25%
	border: 3px solid #0161a6
	padding: 0.5em
	font-size: 25%
	text-align: center
	float: left
	background-color: white
	
#frame-106 .table .data.bold
	font-weight: bold
	
#frame-106 .task
	@extend .absolute
	@include pos-and-size(245px, 53px, 1507px, 217px)
	border: 3px solid #fae900
	padding: 1em
	background-color: white
	font-size: 28%
	text-align: center
	
#frame-106 .task input
	width: 6em
	height: 2em
	border: none
	border-bottom: 2px solid black
	font-size: 1em
	border-radius: 10px
	text-align: center
	
#frame-106 .check-button
	@extend .absolute
	@include pos-and-size(1500px, 760px, 289px, 100px)
	background-color: #FF0100
	border: 2px solid #0090BB
	color: white
	font-size: 25%
	padding: 1.5em
	text-align: center
	cursor: pointer
	font-weight: bold
	
#frame-106 .check-button:hover
	background-color: #0090BB
	border: 2px solid #FF0100
	
#frame-106 .award, #frame-104 .award
	@extend .absolute
	@include pos-and-size(470px, 541px, 1060px, 200px)
	border: 3px solid #fbed35
	font-size: 35%
	padding: 1em
	background-color: white
	text-align: center
	
/*FRAME 107*/

#frame-107 .bg
	@extend .absolute-max
	background-image: url(../pics/s7-bg.png)
	
#frame-107 .bg-blazon 
	@extend .absolute-max
	background-image: url(../pics/blazon-east-kazakhstan.png)
	background-size: auto 100%
	background-repeat: no-repeat
	background-position: center
	
#frame-107 .text-pic-container
	@extend .absolute
	@include pos-and-size(350px, 26px, 1333px, 723px)
	background-color: #1975ff
	border: 4px solid white
	padding: 10px 30px
	
#frame-107 .elem
	position: relative
	@include size(280px, 300px)
	@include transition(0.5s)
	float: left
	border: 3px solid white
	margin: 20px
	background-size: 100% 100%
	border-radius: 10px

#frame-107 .elem.row-1
	cursor: pointer
	
#frame-107 .elem.row-1:hover
	@include box-shadow(5px, 5px, white)
	
#frame-107 .elem .label
	width: 100% 
	height: 1.5em
	padding: 0.4em
	font-size: 19%
	font-weight: bold
	text-align: center
	
#frame-107 .elem .comment
	position: relative
	left: 0%
	top: 5%
	width: 100%
	height: 80%
	padding: 0.5em
	font-size: 25%
	font-weight: bold
	z-index: 1
	background-color: black
	color: white
	border-radius: 10px
	text-align: center
	@include transition(2s)

#frame-107 .elem .comment-hidden
	opacity: 0
	
#frame-107 .elem.pb
	background-image: url(../pics/s7-pb.png)
	
#frame-107 .elem.pb .label
	font-size: 18%
	
#frame-107 .elem.zn
	background-image: url(../pics/s7-zn.png)
	
#frame-107 .elem.cu
	background-image: url(../pics/s7-cu.png)
	
#frame-107 .elem.au
	background-image: url(../pics/s7-au.png)
	
#frame-107 .elem.ag
	background-image: url(../pics/s7-ag.png)
	
#frame-107 .elem.cd
	background-image: url(../pics/s7-cd.png)
	
#frame-107 .elem.bi
	background-image: url(../pics/s7-bi.png)
	
#frame-107 .elem.sn
	background-image: url(../pics/s7-sn.png)
	
#frame-107 .elem.in
	background-image: url(../pics/s7-in.png)
	
#frame-107 .elem.ga
	background-image: url(../pics/s7-ga.png)

#frame-107 .elem.highlighted
	@include box-shadow(5px, 5px, white)
	
#frame-107 .text
	width: 100%
	height: 3em
	font-size: 25%
	color: white
	text-align: center
	font-weight: bold
	
#frame-108 .bg
	@extend .absolute-max
	background-image: url(../pics/s7-bg.png)
	
#frame-108 .task-container
	@extend .absolute
	@include pos-and-size(143px, 53px, 1714px, 869px)
	border: 4px solid #fae800
	border-radius: 10px
	background-color: white
	padding: 1em
	font-size: 35%
	
#frame-108 .title
	font-weight: bold
	font-style: italic
	
#frame-108 .task .question
	font-weight: bold
	margin-top: 10px
	
#frame-108 .task .answer
	margin-top: 5px
	cursor: pointer
	
#frame-108 .task .answer:hover
	font-weight: bold
	
#frame-108 .task .answer.selected
	font-weight: bold
	
#frame-108 .check-button
	@extend .absolute
	@include pos-and-size(1500px, 760px, 289px, 100px)
	background-color: #FF0100
	border: 2px solid #0090BB
	color: white
	font-size: 25%
	padding: 1.5em
	text-align: center
	cursor: pointer
	font-weight: bold
	
#frame-108 .check-button:hover
	background-color: #0090BB
	border: 2px solid #FF0100
	
#frame-108 .award
	@extend .absolute
	@include pos-and-size(470px, 541px, 1060px, 200px)
	border: 3px solid #fbed35
	font-size: 35%
	padding: 1em
	background-color: white
	text-align: center
	
/*FRAME 109*/

#frame-109 .bg
	@extend .absolute-max
	background-image: url(../pics/s9-bg.png)
	
#frame-109 .bg-blazon 
	@extend .absolute-max
	background-image: url(../pics/blazon-kostanai.png)
	background-size: auto 100%
	background-repeat: no-repeat
	background-position: center
	
#frame-109 .magnet 
	@extend .absolute
	background-image: url(../pics/s9-magnet.png)
	@include pos-and-size(1301px, 74px, 500px, 474px)
	background-color: white
	border: 4px solid blue
	border-radius: 10px
	background-size: 100% 100%

/*FRAME 110*/

#frame-110 .bg
	@extend .absolute-max
	background-image: url(../pics/s9-bg.png)
	
#frame-110 .question
	@extend .absolute
	@include pos-and-size(236px, 86px, 1048px, 455px)
	background-color: white
	border: 4px solid yellow
	border-radius: 10px
	padding: 0.7em
	font-size: 35%
	
#frame-110 .answer
	@extend .absolute
	@include pos-and-size(662px, 500px, 568px, 109px)
	background-color: white
	border: 3px solid yellow
	font-size: 30%
	display: block
	padding: 0.3em
	text-align: center
	
#frame-110 .bulb
	@extend .absolute
	@include pos-and-size(1787px, 763px, 190px, 190px)
	background-image: url(../pics/s4-bulb.png)
	cursor: pointer

#frame-110 .bulb:hover
	background-image: url(../pics/s4-bulb-hover.png)
	
#frame-110 .mendeleev-table
	@extend .absolute-max
	@include transition(1s)
	background-image: url(../pics/s6-mendeleev-table.png)
	background-color: black
	
#frame-110 .mendeleev-table-hidden
	@include pos-and-size(0px, 0px, 0px, 0px)
	
#frame-110 .check-button
	@extend .absolute
	@include pos-and-size(1500px, 760px, 289px, 100px)
	background-color: #FF0100
	border: 2px solid #0090BB
	color: white
	font-size: 25%
	padding: 1.5em
	text-align: center
	cursor: pointer
	font-weight: bold
	
#frame-110 .check-button:hover
	background-color: #0090BB
	border: 2px solid #FF0100

/*FRAME 111*/

#frame-111 .bg
	@extend .absolute-max
	background-image: url(../pics/s9-bg.png)
	
#frame-111 .box
	@extend .absolute
	@include pos-and-size(614px, 467px, 745px, 354px)
	border: 4px solid #00a6a0
	background-color: #fff02a

#frame-111 .elem
	@extend .absolute-max

#frame-111 .alo
	background-image: url(../pics/s11-alo.png)
	
#frame-111 .al2o3
	background-image: url(../pics/s11-al2o3.png)
	
#frame-111 .bauxites
	background-image: url(../pics/s11-bauxites.png)
	padding-top: 20%
	padding-left: 38%
	color: transparent
	
#frame-111 .bauxites.seen
	color: white
	font-size: 50%
	text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black
	
#frame-111 .rome-II 
	background-image: url(../pics/s11-II.png)
	
#frame-111 .rome-III
	background-image: url(../pics/s11-III.png)
	
#frame-111 .sprite-1
	background-image: url(../pics/s11-sprite-1.png)
	
#frame-111 .sprite-2
	background-image: url(../pics/s11-sprite-2.png)
	
#frame-111 .sprite-3
	background-image: url(../pics/s11-sprite-3.png)
	
#frame-111 .sprite-4
	background-image: url(../pics/s11-sprite-4.png)
	
/*FRAME-112*/

#frame-112 .bg
	@extend .absolute-max
	background-image: url(../pics/s9-bg.png)
	
#frame-112 .table
	@extend .absolute
	background-image: url(../pics/s12-table.png)
	@include pos-and-size(1004px, 131px, 967px, 828px)
	
#frame-112 .task
	@extend .absolute-max
	background-image: url(../pics/s12-task.png)
	
#frame-112 .label-1
	@extend .absolute
	@include pos-and-size(89px, 24px, 841px, 127px)
	color: white
	font-size: 35%
	text-align: center
	font-weight: bold
	padding: 1em
	
#frame-112 .label
	@extend .absolute
	font-size: 20%
	font-weight: bold
	text-align: center
	padding-top: 0.2em
	
#frame-112 .label-co
	@include pos-and-size(116px, 229px, 271px, 39px)
	
#frame-112 .label-sio
	@include pos-and-size(634px, 226px, 273px, 71px)
	
#frame-112 .label-nh
	@include pos-and-size(118px, 615px, 271px, 40px)
	
#frame-112 .label-nacl
	@include pos-and-size(628px, 613px, 275px, 42px)

#frame-112 .elem-symbols
	@extend .absolute-max
	background-image: url(../pics/s12-elem-symbols.png)
	
#frame-112 .am
	@extend .absolute
	text-align: center
	font-size: 20%
	font-weight: bold
	padding-top: 0.2em
	@extend .z-3
	
#frame-112 .c-am
	@include pos-and-size(204px, 540px, 42px, 33px)
	
#frame-112 .o1-am
	@include pos-and-size(346px, 542px, 39px, 34px)
	
#frame-112 .si-am
	@include pos-and-size(713px, 540px, 44px, 33px)
	
#frame-112 .o2-am
	@include pos-and-size(853px, 542px, 47px, 33px)
	
#frame-112 .n-am
	@include pos-and-size(211px, 921px, 42px, 32px)

#frame-112 .h-am
	@include pos-and-size(351px, 918px, 47px, 35px)
	
#frame-112 .na-am
	@include pos-and-size(716px, 916px, 44px, 35px)
	
#frame-112 .cl-am
	@include pos-and-size(855px, 914px, 46px, 35px)
	
#frame-112 .am-up
	@extend .absolute
	@include size(34px, 31px)
	background-image: url(../pics/s12-up.png)
	background-size: 200% 100%
	cursor: pointer
	@extend .z-5

#frame-112 .am-up:hover
	background-position: 100% 0

#frame-112 .am-down
	@extend .absolute
	@include size(34px, 31px)
	background-image: url(../pics/s12-down.png)
	background-size: 200% 100%
	cursor: pointer
	@extend .z-5
	
#frame-112 .am-down:hover
	background-position: 100% 0

#frame-112 .c-up
	@include pos(209px, 509px)
	
#frame-112 .c-down
	@include pos(208px, 576px)

#frame-112 .o1-up
	@include pos(348px, 509px)
	
#frame-112 .o1-down
	@include pos(348px, 576px)
	
#frame-112 .si-up
	@include pos(716px, 510px)
	
#frame-112 .si-down
	@include pos(716px, 573px)
	
#frame-112 .o2-up
	@include pos(860px, 512px)
	
#frame-112 .o2-down
	@include pos(860px, 576px)
	
#frame-112 .n-up
	@include pos(215px, 890px)
	
#frame-112 .n-down
	@include pos(215px, 955px)
	
#frame-112 .h-up
	@include pos(358px, 890px)
	
#frame-112 .h-down
	@include pos(358px, 953px)
	
#frame-112 .na-up
	@include pos(720px, 889px)
	
#frame-112 .na-down
	@include pos(720px, 952px)
	
#frame-112 .cl-up
	@include pos(860px, 884px)
	
#frame-112 .cl-down
	@include pos(860px, 950px)
	
#frame-112 .check-button
	@extend .absolute
	@include pos-and-size(1500px, 850px, 289px, 100px)
	background-color: #FF0100
	border: 2px solid #0090BB
	color: white
	font-size: 25%
	padding: 1.5em
	text-align: center
	cursor: pointer
	font-weight: bold
	
#frame-112 .check-button:hover
	background-color: #0090BB
	border: 2px solid #FF0100

#frame-112 .award
	@extend .absolute
	@include pos-and-size(470px, 541px, 1060px, 200px)
	border: 3px solid #fbed35
	font-size: 35%
	padding: 1em
	background-color: white
	text-align: center
	
/*FRAME 113*/

#frame-113 .bg
	@extend .absolute-max
	background-image: url(../pics/s13-bg.png)
	
#frame-113 .map-highlighted
	@extend .absolute-max
	background-image: url(../pics/s13-map-highlighted.png)
	
#frame-113 .map-highlighted .label
	@extend .absolute
	@include pos-and-size(900px, 400px, 244px, 91px)
	font-size: 40%
	text-align: center
	padding-top: 3em
	
#frame-113 .helicopter
	@extend .absolute-max
	background-image: url(../pics/s13-helicopter.png)
	
#frame-113 .vocabulary 
	@extend .absolute-max
	@include transition(4s)
	
#frame-113 .isotope
	background-image: url(../pics/s3-isotope.png)
	
#frame-113 .atomic-mass
	background-image: url(../pics/s3-atomic-mass.png)
	
#frame-113 .molar-mass
	background-image: url(../pics/s3-molar-mass.png)
	
#frame-113 .ammonia
	background-image: url(../pics/s3-ammonia.png)
	
#frame-113 .glass
	background-image: url(../pics/s3-glass.png)
	
#frame-113 .out-of-view
	left: -100%
	
/*FRAME 114*/

#frame-114 *
	@extend .absolute-max

#frame-114 .bg
	background-image: url(../pics/s14-bg.png)

#frame-114 .copper
	background-image: url(../pics/s14-copper.png)
	
#frame-114 .moleculas 
	background-image: url(../pics/s14-moleculas.png)

#frame-114 .mendeleev-table
	@extend .absolute-max
	background-image: url(../pics/s14-mendeleev-table.png)
	background-color: black
		
/*FRAME 115*/

#frame-115 .bg
	background-image: url(../pics/s14-bg.png)
	@extend .absolute-max
	
#frame-115 .pics
	@extend .absolute-max
	background-image: url(../pics/s15-pics.png)
	
#frame-115 .question
	@extend .absolute
	top: 3%
	left: 30%
	height: 10%
	width: 60%
	font-size: 30%
	font-weight: bold
	color: white 
	text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black
	@extend .z-2
	
#frame-115 .question-1
	@include pos-and-size(800px, 230px, 1000px, 103px)
	
#frame-115 .question-2
	@include pos-and-size(800px, 500px, 1000px, 108px)
		
#frame-115 .question-3
	@include pos-and-size(800px, 760px, 1000px, 112px)
	font-size: 30%
	
#frame-115 .answer
	border: none
	font-size: 1em
	font-weight: bold
	color: white
	border-bottom: 2px solid white
	width: 3em
	height: 1.5em
	text-align: center
	background-color: transparent
	text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black
	
#frame-115 .check-button
	@extend .absolute
	@include pos-and-size(1500px, 850px, 289px, 100px)
	background-color: #FF0100
	border: 2px solid #0090BB
	color: white
	font-size: 25%
	padding: 1.5em
	text-align: center
	cursor: pointer
	font-weight: bold
	
#frame-115 .check-button:hover
	background-color: #0090BB
	border: 2px solid #FF0100

#frame-115 .award
	@extend .absolute
	@include pos(470px, 400px)
	width: 50%
	min-height: 35%
	border: 3px solid #fbed35
	font-size: 35%
	padding: 0.6em
	background-color: white
	text-align: center
	
/*FRAME 201*/

#frame-201 .bg
	@extend .absolute-max
	background-image: url(../pics/game-bg.png)
	
#frame-201 .logo
	@extend .absolute
	@include transition(2s)
	background-image: url(../pics/game-logo.png)
	@include pos-and-size-2(-100%, -100%, 100%, 100%)

#frame-201 .logo.state-1
	@include pos-and-size-2(0%, 0%, 100%, 100%)
	
#frame-201 .logo.state-2
	@include transform(360deg)
	
/*FRAME 202*/

#frame-202 .bg
	@extend .absolute-max
	background-image: url(../pics/game-bg.png)
	
#frame-202 .title
	@extend .absolute
	@include pos-and-size(86px, 53px, 676px, 103px)
	background-position: center
	background-image: url(../pics/game-title.png)
	background-color: #00afec
	border: 4px solid yellow

#frame-202 .tour
	@extend .absolute
	@include pos-and-size(887px, 56px,  448px, 94px)
	background-color: #00afec
	border: 4px solid yellow
	font-size: 40%
	padding: 0.4em
	text-align: center
	color: white
	@include transition(2s)
	
#frame-202 .correct-number
	@extend .absolute
	@include pos-and-size(1475px, 56px, 448px, 94px)
	background-color: #00afec
	border: 4px solid yellow
	font-size: 40%
	padding: 0.4em
	text-align: center
	color: white
	@include transition(2s)
	
#frame-202 .correct-number-final
	@include pos-and-size(750px, 450px, 500px, 100px)
	z-index: 6
	
#frame-202 .wheel
	@extend .absolute
	@include pos-and-size(8px, 239px, 628px, 636px)
	background-image: url(../pics/game-wheel.png)
	background-size: 300% 100%
	border-radius: 50%
	border: 3px solid lightGrey
	
#frame-202 .rotate-button
	@extend .absolute
	@include pos-and-size(617px, 257px, 169px, 160px)
	background-image: url(../pics/game-rotate-button.png)
	cursor: pointer
	
#frame-202 .rotate-button:hover
	background-image: url(../pics/game-rotate-button-hover.png)
	
#frame-202 .help-button
	@extend .absolute
	@include pos-and-size(630px, 626px, 150px, 150px)
	background-image: url(../pics/game-help-button.png)
	cursor: pointer
	border-radius: 50%
	
#frame-202 .help-button:hover
	@include box-shadow(5px, 5px, white)
	
#frame-202 .cells-container
	@extend .absolute
	@include pos-and-size(817px, 268px, 602px, 501px)
	background-color: #a2611a
	background-size: 100% 100%
	border: 4px solid yellow
	
#frame-202 .table
	@extend .absolute
	@include pos-and-size(817px, 268px, 602px, 501px)
	font-size: 50%
	padding: 0.5em
	
#frame-202 .table .cell
	display: block
	font-size: 1em
	margin-top: 0.2em
	margin-left: 0.2em
	padding: 0.2em
	height: 2em
	width: 1.5em
	color: white
	background-color: black
	border: 1px solid black
	float: left	
	text-align: center
	cursor: pointer
	
#frame-202 .table-1 .cell
	padding: 0em
	font-size: 0.7em
	height: 2em
	width: 1.3em
	
#frame-202 .table-2 .cell
	padding: 0em
	font-size: 0.7em
	height: 2em
	width: 1.5em

#frame-202 .table .cell.empty
	background-color: grey
	
#frame-202 .table input.cell:hover
	background-color: white
	
#frame-202 .question
	@extend .absolute
	@include pos-and-size(1470px, 265px, 454px, 504px)
	background-color: white
	border: 4px solid yellow
	font-size: 30%
	font-weight: bold
	padding: 0.5em
	
#frame-202 .question
	height: auto
	
#frame-202 .question-1
	font-size: 25%
	
#frame-202 .formula
	@extend .absolute
	@include pos-and-size(869px, 806px, 532px, 138px)
	background-color: #00afec
	border: 4px solid yellow
	font-weight: bold
	font-size: 40%
	text-align: center
	padding: 1em
	color: white
	
#frame-202 .check
	@extend .absolute
	@include pos-and-size(1448px, 808px, 154px, 129px)
	background-image: url(../pics/game-check.png)
	
#frame-202 .pointer
	@extend .absolute
	@include pos-and-size(283px, 168px, 62px, 87px)
	background-image: url(../pics/game-pointer.png)

#frame-202 .home
	@extend .absolute
	@include pos-and-size(1577px, 850px, 289px, 100px)
	background-color: #FF0100
	border: 2px solid #0090BB
	color: white
	font-size: 25%
	padding: 1em
	text-align: center
	cursor: pointer
	font-weight: bold
	
#frame-202 .home:hover
	background-color: #0090BB
	border: 2px solid #FF0100
	
#frame-202 .hint-1
	@extend .absolute
	@include pos-and-size(500px, 155px, 421px, 133px)
	background-image: url(../pics/game-area.png)
	background-size: 100% 100%
	font-size: 25%
	padding: 1.5em
	text-align: center
	font-weight: bold
	
/*FRAME 301*/

#frame-301 .bg
	@extend .absolute-max
	background-image: url(../pics/sources-bg.png)
	
#frame-301 .symbols 
	@extend .absolute-max
	background-image: url(../pics/sources-symbols.png)
	
#frame-301 .box 
	@extend .absolute
	background-image: url(../pics/sources-box-2.png)
	@include pos-and-size(386px, 800px, 1204px, 214px)
	
#frame-301 .source-box
	@extend .absolute
	@include pos-and-size(600px, 410px, 600px, 160px)
	text-align: center
	font-size: 55%
	@include box-shadow(5px, 5px, white)

#frame-301 .source-box a
	display: block
	font-size: 50%
	color: white
	
#frame-301 a:hover
	color: white
	text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black

#frame-301 .facts-home-button
	@extend .absolute
	display: block
	font-size: 50%
	@include pos-and-size(1889px, 28px, 91px, 91px)		
	cursor: pointer
	border-radius: 50%
	background-color: #8DD3FD
	border: 1px solid black
	padding: 0.4em
	color: white
	
/*INTRO VIDEO*/

.intro-video
	@extend .absolute-max
	background-color: white
	z-index: 25

/*REG BOX*/
	
.reg-box
	@extend .absolute
	@include pos-and-size(1600px, 50px, 380px, 200px)
	border-radius: 7px
	border: 1px solid lightGrey
	opacity: 0.9
	color: white
	background-color: grey
	font-size: 20%
	font-family: Verdana
	padding: 1em
	line-height: 2em
	text-align: right
	z-index: 10
	font-family: Verdana

.reg-box.topcorner
	@include pos(30px, 950px)
	@include transition(2s)
	
.reg-box .error
	color: red
	font-size: 80%
	text-align: center

.reg-box input
	display: inlin-block
	border-radius: 5px
	border: 1px solid black
	font-size: 80%
	font-family: Verdana
	height: 2em
	width: 13em
	padding: 0.25em
	
.reg-box .enter-button
	display: inlin-block
	border-radius: 5px
	border: 1px solid black
	font-size: 80%
	width: 10em
	height: 2em
	padding: 0.25em
	
.reg-box .enter-button:hover
	background-color: black
	color: white
	
/*AWARD CONTAINER*/

.blazon-award
	z-index: 10
	background-color: darkGrey
	border-radius: 10px

.blazon-award
	.pic, .text
		float: left

.blazon-award .pic
	background-size: auto 100%
	width: 80%
	height: 100%
	border-radius: 50%
	@include transition(2s)
	
.blazon-award .text
	background-size: 100% 100%
	width: 20%
	height: 100%
	font-size: 50%
	color: white
		
.blazon-aktobe
	@extend .absolute
	@include pos-and-size(40px, 849px, 160px, 130px)
	
.blazon-aktobe .pic
	background-image: url(../pics/blazon-aktobe.png)
	
.blazon-kostanai
	@extend .absolute
	@include pos-and-size(216px, 849px, 160px, 130px)
	
.blazon-kostanai .pic
	background-image: url(../pics/blazon-kostanai.png)
	
.blazon-karaganda
	@extend .absolute
	@include pos-and-size(386px, 849px, 160px, 130px)
	
.blazon-karaganda .pic
	background-image: url(../pics/blazon-karaganda.png)
	
.blazon-east-kazakhstan
	@extend .absolute
	@include pos-and-size(552px, 849px, 160px, 130px)
	
.blazon-east-kazakhstan .pic
	background-image: url(../pics/blazon-east-kazakhstan.png)
	
.pic-shadowed
	@include box-shadow(5px, 5px, green)
	border: 2px solid green
	
/*INTRO VIDEO*/

.intro-video
	@extend .absolute-max
	display: block
	z-index: 25
	
/*INTRO PIC*/

.intro-pic
	@extend .absolute-max
	background-image: url(../pics/intro-pic.png)
	z-index: 24

.intro-pic .grade 
	@extend .absolute
	@include pos-and-size(520px, 368px, 97px, 82px)
	font-family: Calibri Light
	font-size: 70%
	color: white
	text-align: center

.intro-pic .subject 
	@extend .absolute
	@include pos-and-size(839px, 458px, 800px, 131px)
	font-family: Calibri Light
	font-size: 50%
	color: #666564
	text-align: left

.intro-pic .subject .sub-part
	font-size: 80%
	font-family: Calibri Light
